In [ ]:
#import kniznic
from mylibraries import *

In [ ]:
#Nacitanie datasetu do premennej df
df = pd.read_csv('UCI_Credit_Card.csv')

In [ ]:
#nastavenie zobrazenie vsetkych 25 atributov v tabulke
pd.set_option('display.max_columns', 25)

#vypisanie hlavicky tabulky
df.head(15)

In [ ]:
#3 Tabulka s prehladom datasetu

#vlastne popisy pre jednotlive atributy
attribute_descriptions = {
    "ID": "ID klienta",
    "LIMIT_BAL": "Výška poskytnutého úveru v taiwanskych dolaroch",
    "SEX": "Pohlavie (1=muz, 2=zena)",
    "EDUCATION": "1=vysoka skola, 2=univerzita, 3=stredna skola, 4=ine, 5=nezname, 6=nezname",
    "MARRIAGE": "Rodinný stav (1=ženatý, 2=slobodný, 3=iný)",
    "AGE": "Vek v rokoch",
    "PAY_0": "Stav splácania v septembri 2005 (-1=splácanie riadne, 1=odklad splácania o jeden mesiac, 2=odklad splácania o dva mesiace, ... 8=odklad splácania o osem mesiacov, 9=odklad splácania o deväť mesiacov a viac)",
    "PAY_2": "Stav splácania v auguste 2005 - rovnaká stupnica ako PAY_0 (taiwansky dolár)",
    "PAY_3": "Stav splácania v juli 2005 - rovnaká stupnica ako PAY_0 (taiwansky dolár)",
    "PAY_4": "Stav splácania v juni 2005 - rovnaká stupnica ako PAY_0 (taiwansky dolár)",
    "PAY_5": "Stav splácania v maji 2005 - rovnaká stupnica ako PAY_0 (taiwansky dolár)",
    "PAY_6": "Stav splácania v april 2005 - rovnaká stupnica ako PAY_0 (taiwansky dolár)",
    "BILL_AMT1": "Výpis faktúry v septembri 2005 (taiwansky dolár)",
    "BILL_AMT2": "Výpis faktúry v august 2005 (taiwansky dolár)",
    "BILL_AMT3": "Výpis faktúry v juli 2005 (taiwansky dolár)",
    "BILL_AMT4": "Výpis faktúry v juni 2005 (taiwansky dolár)",
    "BILL_AMT5": "Výpis faktúry v maji 2005 (taiwansky dolár)",
    "BILL_AMT6": "Výpis faktúry v april 2005 (taiwansky dolár)",
    "PAY_AMT1": "Suma predchádzajúcej platby v septembri 2005 (taiwansky dolár)",
    "PAY_AMT2": "Suma predchádzajúcej platby v auguste 2005 (taiwansky dolár)",
    "PAY_AMT3": "Suma predchádzajúcej platby v juli 2005 (taiwansky dolár)",
    "PAY_AMT4": "Suma predchádzajúcej platby v juni 2005 (taiwansky dolár)",
    "PAY_AMT5": "Suma predchádzajúcej platby v maji 2005 (taiwansky dolár)",
    "PAY_AMT6": "Suma predchádzajúcej platby v april 2005 (taiwansky dolár)",
    "default.payment.next.month": "Predvolená platba (1=áno, 0=nie)",
}

# Vytvorenie tabulky s prehladom datasetu
table_data = []
for attribute in df.columns:
    attribute_type = str(df.dtypes[attribute])
    attribute_description = attribute_descriptions.get(attribute, "")
    table_data.append([attribute, attribute_description, attribute_type])
headers = ["Atribut", "Popis", "Datovy typ"]
table = tabulate.tabulate(table_data, headers=headers, tablefmt="pretty")
print(table)

In [ ]:
#4 Vypísanie druheho zaznamu z datasetu
df.iloc[2]

In [ ]:
#5 Deskriptívna štatistika
summary = df.describe()
summary

In [ ]:
#Doplnujuce info s poctom chybajucich hodnot pre jednotlive atributy | podobne ako pouzitie is.null().sum()
df.info()

In [ ]:
#Vytvorenie grafu
plt.figure(figsize=(10, 5))

#Vizualizácie cieľovej premennej rozdelenie na cervenu neplatici a zelenu platici
sns.countplot(x='default.payment.next.month', data=df, palette=["lightpink", "lightgreen"])
plt.ylabel('Počet')

plt.show()

In [ ]:
#Skúmanie distribúcie premenných
import seaborn as sns
plt.figure(figsize=(10, 6))
sns.histplot(df['LIMIT_BAL'], bins=30, kde=True)
plt.title('Rozloženie hodnôt LIMIT_BAL')
plt.xlabel('Limit karty')
plt.ylabel('Počet klientov')
plt.show()

In [ ]:
#Nahradenie ciselnych hodnot za kategoricke v df pre dalsiu pracu
df.replace({'SEX': {1 : 'Muži', 2 : 'Ženy'}}, inplace=True)
df['EDUCATION'] = df['EDUCATION'].replace({4: 'Ostatné', 5: 'Ostatné', 6: 'Ostatné', 0: 'Ostatné'})
df.replace({'EDUCATION': {1 : 'Postgraduál', 2 : 'Univerzita', 3 : 'Stredná škola'}}, inplace=True)
df['MARRIAGE'] = df['MARRIAGE'].replace({0: 'Ostatné', 3: 'Ostatné'})
df.replace({'MARRIAGE': {1 : 'Zadaní', 2 : 'Slobodní'}}, inplace=True)

In [ ]:
# Premenovanie stĺpcov
df = df.rename(columns={'SEX': 'Pohlavie', 'EDUCATION': 'Vzdelanie', 'MARRIAGE': 'Manželstvo', 'AGE': 'Vek'})

In [ ]:
#Ulozenie kategorickych atributov do premennej df_cat
categorical_features = ['Pohlavie', 'Vzdelanie', 'Manželstvo']
df_cat = df[categorical_features]
df_cat['default.payment.next.month'] = df['default.payment.next.month']



for col in categorical_features:
    plt.figure(figsize=(10, 5))
    fig, axes = plt.subplots(ncols=2, figsize=(13, 8))
    df[col].value_counts().plot(kind="pie", ax=axes[0], subplots=True, colors=["lightgreen", "lightcoral", "lightblue", "lightpink"])
    sns.countplot(x=col, hue='default.payment.next.month', data=df_cat, palette=["lightblue", "lightgreen"])

In [ ]:
#Vizualizácia dát vzťahov medzi vzdelaním a vekom
plt.figure(figsize=(12, 6))
sns.boxplot(x='Vzdelanie', y='Vek', data=df)
plt.title('Vzťah medzi úrovňou vzdelania a vekom')
plt.xlabel('Úroveň vzdelania')
plt.ylabel('Vek')
plt.show()

In [ ]:
#Porovnanie pocenosti veku
age_count = df['Vek'].value_counts().nlargest(10)
print(age_count)

#10 najpocetejsich vekov

In [ ]:
#Porovnanie pocenosti pohlavia
age_count = df['Pohlavie'].value_counts().nlargest(2)
print(age_count)

#zeny = 2, muzi = 1

In [ ]:
#Porovnanie pocenosti vzdelania
edu_count = df['Vzdelanie'].value_counts().nlargest(7)
print(edu_count)

In [ ]:
# Vytvorenie kontingenčnej tabuľky
contingency_table = pd.crosstab(df['Vzdelanie'], df['default.payment.next.month'])

# Výpis kontingenčnej tabuľky
print(contingency_table)